<div class="jumbotron">
  <h1 class="display-4">自己紹介</h1>
  <p class="lead">Just do it.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <%= link_to 'アイディア一覧はこちら',ideas_path, {class:'btn btn-primary btn-lg'} %>
  </p>
</div>
<%= image_tag 'test.jpg', class:"img-responsive"%>
