<div class="jumbotron">
  <h1 class="display-4">自己紹介</h1>
  <%= image_tag 'profile.png', class:"img-responsive"%>
  <h4 class="lead">Just do it.</h4>
  <hr class="my-4">
  <p></p>
  <p class="lead">
    <%= link_to 'アイディア一覧はこちら',ideas_path, {class:'btn btn-primary btn-lg'} %>
  </p>
</div>

